body {
    margin: 20px;
}
.board-row {
    display: table-row;
    height: 20px;
    
}

.board-cell {
        display: table-cell;
        height: inherit;
        width: 20px;
        border-bottom: 1px solid silver;
        border-right: 1px solid silver;
        
        &.alive {
            background-color: green; 
        }
        &.dead {
            background-color: black;
        }
    }